
{% extends "profesor/base_mainpage.html" %}

{% load static %}


{% block title %}
    Mis Temas
{% endblock %}

{% block header_ctxt %}
    <div class="nav-bar-title navbar-brand">Mis temas</div>
    <a class=" btn btn-outline-light"  href="{% url 'AMCE:ProfCrearTema' %}" id="crear_tema" style="color: white;">Crear</a>
{% endblock %}

{% block temas-active %}
    active
{% endblock %}

{% block inner_content %}
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content">
        <!--Temas-->
        {% for t in temas %}
        <div class="col mb-3">
            <a href="#">
                <div class="card h-100" >
                    <!-- Detalles del tema -->
                    <div class="card-body p-4">
                        <div>
                            <h4 class="fw-bolder">{{t.nombre_tema}}</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
